<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p (%c{1}.%M) - %m%n"/>
		</layout>
	</appender>
	<appender name="RollingFileAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="./applications/audit/logs/trace.log"/>
		<param name="Append" value="true"/>
		<param name="MaxFileSize" value="20480000"/>
		<param name="MaxBackupIndex" value="10"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p (%c{1}.%M) - %m%n"/>
		</layout>
	</appender>
	<appender name="DailyRollingFileAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="./applications/audit/logs/trace.log"/>
		<param name="DatePattern" value="'.'yyyy-MM-dd"/>
		<param name="Append" value="true"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p (%c{1}.%M) - %m%n"/>
		</layout>
	</appender>
	
	<category name="ca.on.gov.mto.rus" additivity="false">
		<priority value="DEBUG"/>
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="DailyRollingFileAppender"/>
	</category>
	

	<root>
		<priority value="INFO"/>
		<appender-ref ref="DailyRollingFileAppender"/>
	</root>
</log4j:configuration>
